<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <title>Burger App</title>
</head>
<body>

  <div class="container"> 
      <img src="https://cdn1.iconfinder.com/data/icons/jellycons-2-100-ios-8-app-icons/1024/Burger.png" style='height:100px;' />
   <h1>Burger Eater</h1>




{{{body}}}
    {{!-- <div class="row"> 
        

        <div class="col">

            <div class="btn-toolbar mb-3">           
                    <div class="input-group-text">XCheese Burger</div>                                 
                <div>
                <button type="button" class="btn btn-secondary">Devour Burger</button>
                </div>
            </div>
        </div>      


        <div class="col">
            <div class="alert alert-secondary" role="alert">
                McBurger
              </div>
        </div>
    </div> --}}

    

    <form action="/" method="POST">
    <div class="mb-3">
        <label for="BurgerInput" class="form-label">Enter your favourite Burger</label>
        <input class="form-control" name="burger" id="BurgerInput" placeholder="Cheese Burger">
    </div>
     <button class="btn btn-primary">Submit</button>
    </form>
     
      
    </div>
</body>
</html>