   <div class="row"> 
        

        <div class="col">

            {{#each available}}

            <div class="btn-toolbar mb-3">           
                    <div class="input-group-text">{{burger_name}}</div>                                 
                <div>
                <a href="/devour/{{id}}" type="button" class="btn btn-secondary">Devour-It!</a>
                </div>
            </div>
            {{/each}}
        </div>      


        <div class="col">
            {{#each devoured}}
            <div class="alert alert-secondary" role="alert">
                {{burger_name}}
              </div>
               {{/each}}
        </div>
    </div>
